@charset "utf-8";
/* CSS Document */
*{
	border:none;
	color:#444;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	list-style:none;
	line-height:20px;
	outline:none;
	padding:0;
	margin:0;
	text-decoration:none;
}
.clear{clear:both;}
a:hover,.col_right h3:hover,.btn,select,.submit{
	cursor:pointer;
}

.pull_left,.nav li,.col_list li,.list li,.tabs li,.hot li,.fcol_3 li{
	float:left;
}
.pull_right{float:right;}

#pull,.left_top h3{
	display:none;
}
.left_top li a {
background: url(../images/leftli.gif) no-repeat 10px 13px;
border-bottom: 1px solid #ddd;
display: block;
padding: 5px 5px 5px 20px;
}

h1,h1 a{
	font-size:20px;
}
h2{
	text-transform:capitalize;
	}
h2,h2 a{
	font-size:18px;
}
h3,h3 a{
	font-size:14px;
}
body{
	width:1024px;
	margin:0 auto;
	background:#ccc url(../images/bodybg.jpg) repeat-y center top;
}
#header{
	padding:30px 0 20px;
}
.logo{
	margin-left:30px;
}
.nav{
	margin-right:30px;
}
.nav li a{
	display:block;
	padding:9px 30px;
	color:#fff;
	font-size:14px;
	background:#3c4457 url(../images/navlibg.jpg) no-repeat left top;
}
.nav .home a{
	background:#3c4457 url(../images/homebg.jpg) no-repeat left top;
	padding:8px 30px 8px 25px;
	+padding:8px 30px 10px 25px;
}
.nav .home img{
	margin-right:8px;
}
.nav li a:hover,.nav li .active{
	background:#e94609;
}
.nav .home a:hover,.nav .home .active{
	background:#e94609 url(../images/homebg2.jpg) no-repeat left top;
}
/*bannenr*/
.subnav{
	background:url(../images/subnavbg.jpg) no-repeat;
}
.subnav h1{
	color:#f94609;
	font-weight:500;
	padding:30px 0 30px 30px;
}
.subnav h1 a{
	margin-right:15px;
}
.subnav p{
	padding:30px 30px 28px;
	background:url(../images/subnavpbg.jpg) no-repeat left bottom;
}
.subnav p a{
	margin:0 5px;
}
.subnav p img{
	margin-right:5px;
}
/*content*/
#content{
	padding:20px 30px;
}
.col_list{
	width:981px;
}
.col_list li{
	width:290px;
	padding:20px 10px;
	margin-right:15px;
	background:#f7f7f7 url(../images/col_listbg.jpg) repeat-x left bottom;
	border:1px solid #e3e3e3;
	border-bottom:4px solid #c8c8c8;
}
.col_list li p{
	text-align:center;
	margin-top:5px;
	height:75px;
	overflow:hidden;
}
.col_list h2{
	padding-left:50px;
	background-position:10px top;
}
.col_list h2 a{
	color:#e94609;
	font-weight:600;
}
.col_list h2 span,.col_list h2 a{
	display:block;
	white-space:nowrap;
	overflow:hidden;
}
.col_list .h2bg1{background:url(../images/col_list1.jpg) no-repeat;}
.col_list .h2bg2{padding-left:60px;	background:url(../images/col_list2.jpg) no-repeat 10px 5px;}
.col_list .h2bg3{background:url(../images/col_list3.jpg) no-repeat;}
.col_list li:hover{
	background:#e94609 url(../images/col_listbg.jpg) repeat-x left bottom;
	border-bottom:4px solid #e94609;
}
.col_list li:hover a,.col_list li:hover span{
	color:#fff;
}
.col_list li:hover .h2bg1{background:url(../images/col_list11.jpg) no-repeat;}
.col_list li:hover .h2bg2{background:url(../images/col_list22.jpg) no-repeat 10px 5px;}
.col_list li:hover .h2bg3{background:url(../images/col_list33.jpg) no-repeat;}
.column{
	margin:30px 0;
}
.column h2,.flexslider h2{
	background:url(../images/columnh2bg.jpg) repeat-x left center;
	margin-bottom:20px;
}
.column h2 a,.h2bgline a,.flexslider h2 a{
	background:#fff;
	padding-right:15px;
}
.col_left{
	width:590px;
}
.col_left ul{
	width:290px;
}
.col_left .text{
	width:280px;
}
.col_left li{
	border:1px solid #fff;
	padding-right:10px;
	margin-bottom:20px;
}
.col_left li:hover,.service{
	border:1px solid #ccc;
}
.col_left li:hover .time,.col_left .text .time{
	background:#e94609;;
}
.col_left .time{
	background:#424242;
	color:#fff;
	width:47px;
	font-size:20px;
	text-align:center;
	margin-right:5px;
}
.col_left .time span{
	color:#fff;
	display:block;
	letter-spacing:-1px;
}
.col_left p,.col_left h3{
	white-space:nowrap;
	overflow:hidden;
}
.col_left .time,.col_left h3{
	padding:3px 0 2px;
}
.column p{
	font-size:11px;
	color:#999;
}
.col_left .ptext{
	white-space:normal;
	height:48px;
	line-height:16px;
}
.col_right{
	width:330px;
}
.col_right li{
	background:url(../images/col_rightbg.jpg) no-repeat left top;
	padding-left:25px;
	margin-bottom:8px;
}
.col_right .more{
	color:#e94609;
	font-weight:bold;
	display:block;
}
.col_right .active{background:url(../images/col_rightbg2.jpg) no-repeat left top;}
.col_right p{display:none;}
.col_right .active p,.banner img{display:block;}
/*right_content*/
.right_content{
	width:706px;
	overflow:hidden;
}
.list{
	width:711px;
}
.list li{
	width:220px;
	padding:0 12px  23px 0;
	margin:0 5px 5px 0;
	background:url(../images/listbg.jpg) no-repeat right bottom;
}
.listimg{
	position:relative;
}
.listimg h3{
	position:absolute;
	bottom:0;
	left:0;
	background:#434342;
	filter: alpha(opacity=80);
	opacity:0.8;
	width:100%;
	text-align:center;
}
.listimg h3 a{
	color:#fff;
	font-weight:600;
}
.list p{
	line-height:16px;
	margin-top:10px;
	height:48px;
	overflow:hidden;
}
.h1box,.tab-pane td,.tab-pane th{
	border:1px solid #ccc;
	text-align:center;
}
.h1box{
	border-top:none;
}
.right_top h1{
	padding:17px 0 5px;
}
.right_top img{
	vertical-align:top;
}
.right_top h1 span{
	display:block;
}
.right_top p,.service h3{
	margin-top:10px;
}
.right_content .box{
	margin-top:15px;
}
.box img,.h1box .link{
	margin-right:15px;
}
.h2bgline{
	margin-bottom:10px;
	background:url(../images/h2bg.jpg) repeat-x left center;
}
.tabs li a{
	display:block;
	padding:5px 20px;
	border:1px solid #999;
}
.tabs .active a{
	background:#e94609;
	color:#fff;
}
.tab-pane{
	display:none;
}
.tab-content{
	border:1px solid #999;
	border-top:1px solid #ddd;
	padding:20px;
}
.tab-content .active,.left_top ul .active{
	display:block;
}
.box table{
	border-collapse:collapse;
}
/*left_sidebar*/
.left_sidebar{
	width:235px;
	overflow:hidden;
	margin-bottom: 85px;
}
.left_top ul ul{
	display:none;
	padding:5px 0 5px 20px;
	background:url(../images/dropbg.jpg) repeat-x left bottom;
}
.left_top .drop{
	display:block;
	padding:8px 0;
	font-size:14px;
	background:url(../images/dropbg.jpg) repeat-x left bottom;
}
.left_top .drop:hover,.left_top a.active{
	color:#e94609;
	font-weight:bold;
}
.left_top li li{
	margin-left:-16px;
}
/*aboulist*/
.aboulist{
	margin-bottom:20px;
}
.aboulist .h1box{
	text-align:left;
}
.search form{
	border:2px solid #ccc;
	padding:2px 10px;
}
.search .text{
	height:24px;
	width:85%;
}
.search .submit{
	width:17px;
	height:18px;
	background:url(../images/search.jpg) no-repeat;
}
.hot{
	overflow:hidden;
}
.hot ul{
	width:245px;
}
.hot li{
	margin:0 10px 15px 0;
}
.search{
	margin:70px 0;
}
.left_form{
	margin-top:50px;
}
/**contact*/
.main_left{
	width:290px;
}
.main_right{
	width:640px;
}
.main_left ul{
	margin-bottom:20px;
}
.map{
	margin-bottom:30px;
	box-shadow:2px 2px 6px #333;
}

/*form*/
.control-label{
	padding-right:20px;
	font-weight:bold;
}
.red{
	color:#f00;
}
.form form{
	width:100%;
	margin-top:20px;
}
.form td{
	padding-bottom:8px;
}
.input-xlarge{
	width:70%;
	border:1px solid #aaa;
	height:24px;
	padding:2px;
}
.left_form .input-xlarge{
	width:98%;
}
textarea.input-xlarge{
	height:100px;
}
.inline{
	margin-right:15px;
	display:inline-block;
}
.inline input{
	vertical-align:middle;
}
.btn{
	width:129px;
	background:#e94609;
	color:#fff;
	text-align:center;
	line-height:24px;
	margin-top:10px;
}

/*footer*/
#footer p,#footer a{
	color:#fff;
}
.footer_top{
	background:#575757;
}
.footer_top img{
	margin-right:15px;
}
.footer_top p{
	padding-top:10px;
}
.footer_col{
	background:#393a3c;
	padding:30px 30px;
}
.footer_bottom{
	background:#2c2d2e;
	padding:10px 30px;
}
.fcol{
	margin-right:34px;
}
.fcol_1{
	width:210px;
}
.fcol_2{
	width:180px;
}
.fcol_3{
	width:232px;
}
.fcol_4{
	width:240px;
	margin:0;
}
.fcol_1 img{
	margin:5px 0 15px;
}
.fcol_1 p{
	line-height:16px;
}
.fcol h3{
	margin-bottom:15px;
}
.fcol_2 li{
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #222;
}
#footer  li a:hover{
	color:#e94609;
}
.fcol_3 li{
	margin-right:5px;
}
/*js*/
.item,.carousel{
	overflow:hidden;
	text-align:center;
	position:relative;
}
.carousel-inner .item{
	position:relative;
	display:none;
	-webkit-transition:.6s ease-in-out left;
	-moz-transition:.6s ease-in-out left;
	-o-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left;
	left:0;
	top:0;
}
.carousel-control{
	background:url(../images/prev.jpg) no-repeat left top;
	width:46px;
	height:60px;
	display:block;
	position:absolute;
	bottom:0;
	text-indent:-9999px;
}
.direction .left{
	background-position:right top;
	left:46px;
}
.carousel-inner .active,.carousel-inner .next,.carousel-inner .prev{display:block}
.carousel-inner .next,.carousel-inner .prev{position:absolute;top:0;width:100%}
.carousel-inner .next{left:100%}.carousel-inner .prev{left:-100%}
.carousel-inner .next.left,.carousel-inner .prev.right{left:0}
.carousel-inner .active.left{left:-100%}.carousel-inner .active.right{left:100%}
.flexslider{
	position:relative;
	margin-bottom:10px;
	overflow:hidden;
}
.slides  li{
	width:226px;
	margin-right:20px;
	float:left;
	position:relative;
}
.flexslider li span{
	position:absolute;
	bottom:0;
	left:0;
	background:#000;
	opacity:0.7;
	filter: alpha(opacity=70);
	color:#fff;
	text-align:center;
	width:100%;
	line-height:24px;
}
.flex-control-paging a,.flex-direction-nav a{
	text-indent:-9999px;
	cursor: pointer; 
	height:22px;
	width:22px;
}
.flex-control-paging a{
	display:block;
	background:#fff url(../images/slider1.jpg) no-repeat  center center;
	padding:0 5px;
}
.flex-control-paging{
	position: absolute; 
	top:0;
	right:23px;
	overflow:hidden;
	height:22px;
}
.flex-direction-nav a {
	position: absolute; 
	top:0;
}
.flex-direction-nav .flex-next {
	background:#fff url(../images/slidernext.jpg) no-repeat  center center;
	right:0px;
}
.flex-direction-nav .flex-prev {
	background:#fff url(../images/sliderprev.jpg) no-repeat center center;
	right:50px;
	padding:0 5px 0 10px;
}
@media all and (max-width:1040px){

body{
	width:98%;
	background-size:98% 1px;
}
#content,.footer_col{
	padding:20px 15px;
}
.footer_bottom{
	padding:10px 15px;
}
.logo{
	margin-left:15px;
}
.nav{
	margin-right:15px;
}
	.col_list li,.list li,.left_form .input-xlarge,.subnav h1,.left_top{
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
	}

.banner img,.logo img,.col_left img,.fcol img,.list img,.right_top img,.hot img ,.map,.slides  li img{
	max-width:100%;
	width:auto;
	height:auto;
}

.subnav,.subnav p{
	background-size:100% 100%;
}
.subnav h1{
	padding:15px 0 15px 15px;
}
.subnav p{
	padding:15px 15px 15px 30px;
}
.subnav h1,.subnav h1 a{
	font-size:16px;
}
.col_list{
}
.col_list,.list{
	width:100%;
}
.col_list li,.list li{
	width:32%;
	margin-right:2%;
}
.col_left,.main_right{
	width:65%;
}
.col_right,.main_left{
	width:33%;
}
.col_left ul{
	width:50%;
}
.col_left .text{
	width:48%;
}
.right_content{
	width:75%;
}
.left_sidebar{
	width:23%;
}
.hot ul{
	width:100%;
}
.hot li{
	width:48%;
	margin-bottom:5px;
}
.fcol,.hot li{
	margin-right:2%;
}
.fcol_1{
	width:21%;
}
.fcol_2{
	width:18%;
}
.fcol_4{
	width:27%;
}
.fcol_4,.col_list li:nth-child(3),.list li:nth-child(3n){
	margin:0;
}

}
@media all and (max-width:908px){
.nav li a{
	padding:9px 15px;
}
.nav .home a{
	padding:8px 15px 8px 25px;
}
.col_list h2 a{
	font-size:14px;
}
.fcol{
	margin-right:3%;
}
.fcol_1{
	width:31%;
}
.fcol_2{
	width:26%;
}
.fcol_3{
	width:100%;
	margin:15px 0 0;
}
.fcol_4{
	width:34%;
	margin:0;
}
}
@media all and (max-width:750px){
	#header{
		padding:15px 0;
	}
	.logo{
		width:150px;
	}
.nav li a{
	padding:6px 9px;
}
.nav .home a{
	padding:5px 5px 5px 15px;
}
.subnavinner h1 a{
	display:block;
}
.subnavinner h1{
	padding:5px 0 5px 15px;
}

.col_left,.col_right,
.right_content,
.left_sidebar{
	width:100%;
}

#content.wrapproduct{
	position:relative;
	padding-top:60px;
}
.left_top_product{
	position:absolute;
	top:15px;
	left:0;
	width:100%;
	padding: 0 15px;
	background:#fff;
}
.left_top_about ul{
	background:url(../images/dropbg.jpg) repeat-x top left;
}
.left_top ul{
	display:none;
}
.left_top_about ul{
	display:block;
}
.left_top h3{
	display:block;
	border:3px solid #ccc;
	padding:3px 10px;
	background:url(../images/selectbg.jpg) no-repeat 98% center;
}

.hot li{
	width:auto;
	margin:0 10px 15px 0;
}
.search{
	margin:70px 0;
}
.left_form{
	margin-top:50px;
}
.search{
	margin:15px 0;
}
.left_form{
	margin-top:15px;
}
.input-xlarge{
	width:95%;
}
}
@media all and (max-width:638px){
	#header{
		padding-bottom:0;
	}
	.logo{
		margin-bottom:15px;
	}
	.nav {
		width:100%;
		margin:0;
	}
	.nav li{
		width:16%;
		text-align:center;
	}
	.nav li a{
		padding:6px 0;
	}
	.nav .home{
		width:19%;
	}
	.nav li:nth-child(4){
		width:13%;
	}
	.nav li:nth-child(5){
		width:17%;
	}
	.nav li:nth-child(6){
		width:19%;
	}
.col_list li{
	width:100%;
	margin:0 0 15px;
	padding:20px 30px;
}
.col_list li p{
	text-align:left;
	height:auto;
}
.fcol{
	margin-right:4%;
	width:48%;
}
.fcol_2,.fcol_4{
	margin-right:0;
}

.main_left,.main_right{
	width:100%;
}
}
@media all and (max-width:517px){
	.nav,.subnav h1 a{
		display:none;
	}
	#pull{
		display:block;
		margin:5px 15px;
		padding-right:28px;
		background:url(../images/pullbg.gif) no-repeat right 3px;

	}
	.nav li{
		border-bottom:1px solid #666;
	}
	.nav .home,.nav li,
	.nav li:nth-child(4),
	.nav li:nth-child(5),
	.nav li:nth-child(6){
		width:50%;
	}
	.nav .home a{
	background:#3c4457;
}
.nav .home a:hover,.nav .home .active{
	background:#e94609;
}
.subnavinner h1{
	width:140px;
	padding-right:0;
}
.subnav h1{
	font-size:13px;
}
.subnav p{
	padding:15px 5px;
}
.subnavinner p{
	padding:15px 0;
}
.col_left ul,
.col_left .text,.fcol{
	width:100%;
}
.col_left .text,.fcol{
	margin:0 0 15px;
}
.fcol_3{
	margin-bottom:0;
}
.fcol h3,.footer_bottom span{
	margin-bottom:5px;
}
.footer_top p{
	padding:0;
}
.footer_bottom{
	text-align:center;
}
.footer_bottom span{
	display:block;
	float:none;
}
.tabs li{
	width:33%;
}
.boximg{
	width:50%;
	height:auto;
}
.tabs li a{
	padding:5px 0;
	text-align:center;
	white-space:nowrap;
}
.list li,.list li:nth-child(3n){
	width:48%;
	margin:0 1% 5px;;
}
.flexslider li span{
	line-height:14px;
}
}
.onemore{
	display:inline-block;
	margin-left:9px;
}
.left_top ul ul li a.none1{
	border-bottom:none;}
.left_top ul li a:hover {
 color: #e94609; }
 /*ddddddddddddddddddddddddddddddddddddddddddddddddddddddd*/
 .conRightTop {
width: 100%;
background-color: #f3f3f3;
}
.conRightTopin {
padding: 10px;
}
.conRightMain {
margin-top: 10px;
}
.mainBox {
float: left;
width: 70.5%;
/* width: 81.2%; */
}
.conRightBanner {
width: 100%;
}
.newsList {
margin-top: 36px;
margin-bottom: 46px;
}
.newsList li {
list-style-type: none;
padding-left: 10px;
margin: 10px 0;
}
.newsList li a:hover {
color: #e94609;
}
.newsList span {
float: right;
display: inline-block;
}
.newsList li a {
width: 80%;
display: inline-block;
line-height: 20px;
text-decoration: none;
color: #5b5b5b;
}
.newsList li:nth-child(2n) {
background-color: #eeeeee;
}
.fenye SPAN.disabled {
font-size: 12px;
PADDING-RIGHT: 6px;
PADDING-LEFT: 6px;
PADDING-BOTTOM: 2px;
COLOR: #adaaad;
MARGIN-RIGHT: 3px;
PADDING-TOP: 2px;
}
.fenye SPAN.current {
font-size: 12px;
PADDING-RIGHT: 6px;
PADDING-LEFT: 6px;
FONT-WEIGHT: bold;
PADDING-BOTTOM: 2px;
COLOR: #F9902B;
MARGIN-RIGHT: 3px;
PADDING-TOP: 2px;
}
.fenye A {
font-size: 12px;
BORDER-RIGHT: #dedfde 1px solid;
PADDING-RIGHT: 6px;
BACKGROUND-POSITION: 50% bottom;
BORDER-TOP: #dedfde 1px solid;
PADDING-LEFT: 6px;
PADDING-BOTTOM: 2px;
BORDER-LEFT: #dedfde 1px solid;
COLOR: #F9902B;
MARGIN-RIGHT: 3px;
PADDING-TOP: 2px;
BORDER-BOTTOM: #dedfde 1px solid;
TEXT-DECORATION: none;
}
.sideBar {
float: left;
width: 27.1%;
margin-left: 1.8%;
min-height: 430px;
}
.sideBarin {
padding-left: 7%;
}
.sideContact {
padding-bottom: 15px;
margin-top: 5px;
}
.sideText {
height: 29px;
line-height: 29px;
padding-left: 45px;
margin-top: 1px;
}
.sideTel {
background: #e1e1e1 url(../images/tel1.jpg) no-repeat;
margin-top: 10px;
}
.sideFax {
background: #e1e1e1 url(../images/fax1.jpg) no-repeat;
}
.sideMail {
background: #e1e1e1 url(../images/email1.jpg) no-repeat;
}
.servOnline {
width: 100%;
background-color: #ef7448;
}
.servOnline p {
margin-left: 16px;
color: #ffffff;
height: 29px;
line-height: 29px;
font-size: 14px;
cursor: pointer;
}
.servOnline p a {
display: block;
padding-top: 5px;
}
.servOnline span {
float: right;
padding-right: 27px;
font-size: 18px;
padding-top: -2px;
color: #fff;
}
.newsPage h2 {
text-align: center;
font-style: normal;
}
.newsTime {
text-align: center;
border-bottom: 1px solid #e8e8e8;
padding-bottom: 10px;
line-height: 21px;
}
.newsCon {
margin-top: 20px;
line-height: 18px;
}
.schbline {
border-top: 1px solid #d9d9d9;
border-bottom: 1px solid #ffffff;
margin-top: 18px;
}
#breadcrumbs ul {
float: right;
padding: 30px 0;
font-size: 12px;
text-transform: capitalize;
}
#breadcrumbs ul li {
display: inline;
line-height: 18px;
color: #888;
padding: 0 11px 0 0;
margin: 0 0 0 5px;
background: url(../images/li-arrow.png) 100% 50% no-repeat;
}
#breadcrumbs .first, #breadcrumbs .last {
background: none;
}

#breadcrumbs .first {
padding-right: 0;
margin-left: 0;
}
#tab3 .jiacu,#tab1 .jiacu{
	color:#e94609;
	font-size: small;;
font-weight: bold;}